In [8]:
import joblib

In [9]:
pipe = joblib.load('pipe_svm.pkl')

### 나이는 37세, 연봉은 43000달러입니다. 이 고객은 구매를 할까요?

In [10]:
data = [{'Age':37, 'EstimatedSalary':43000}]

In [11]:
import pandas as pd

In [12]:
new_data = pd.DataFrame(data)

In [6]:
new_data

   Age  EstimatedSalary
0   37            43000

In [7]:
pipe.predict(new_data)

array([0])

In [14]:
classifier = joblib.load('randomforest_c.pkl')

In [18]:
scaler_X = joblib.load('scaler_X.pkl')

In [20]:
new_data = scaler_X.transform(new_data)

In [21]:
new_data

array([[-0.0625611 , -0.78528968]])

In [22]:
classifier.predict(new_data)

array([0])